
*.vsidx
admin/Admin_Opendeurspel/Admin_Opendeurspel/bin/Debug/Admin_Opendeurspel.exe
admin/Admin_Opendeurspel/Admin_Opendeurspel/bin/Debug/Admin_Opendeurspel.exe
admin/Admin_Opendeurspel/Admin_Opendeurspel/bin/Debug/Admin_Opendeurspel.pdb
